.chat {
  position: relative;
  background: #111;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.chat .main {
  flex-basis: 100%;
  padding: 20px 15px 0;
  overflow: auto;
}

.chat .chat-cancel {
  position: sticky;
  bottom: 0;
  color: var(--active);
  padding: 5px;
  border-radius: 5px 5px 0 0;
  background-color: #333;
  transition: background-color 0.25s ease-in-out;
}

.chat .chat-cancel:hover,
.chat .chat-cancel:focus {
  background-color: #444;
}