.message-input {
  display: flex;
  gap: 10px;
  padding: 10px 15px;
  background-color: #222;
}

.message-input-text {
  flex-basis: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.message-input-button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  transition: background-color 0.25s ease-in-out;
}

.message-input-button:hover,
.message-input-button:focus {
  background-color: #333;
}
