body {
  padding: 0;
  margin: 0;
}

.one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input,
textarea,
button {
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  outline: none;
  border: none;
}

.icon {
  user-select: none;
  pointer-events: none;
}

textarea {
  border-radius: 5px;
  padding: 15px;
  background-color: #333;
  color: var(--active);
  font-size: 1rem;
  line-height: 1.4;
  resize: none;
}

::-webkit-scrollbar {
  width: 15px;
  height: 0;
}
::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb { background-color: var(--text); }
::-webkit-scrollbar-thumb:hover { background-color: var(--active); }
::-webkit-scrollbar-button { display: none; }
::-webkit-scrollbar-corner { background-color: transparent; }
